@font-face {
  font-family: "Rubik";
  src: local("Rubik Light"), local("Rubik-Light"), url("fonts/Rubiklight.woff2") format("woff2"), url("fonts/Rubiklight.woff") format("woff"), url("fonts/Rubiklight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("fonts/Rubiklightitalic.woff2") format("woff2"), url("fonts/Rubiklightitalic.woff") format("woff"), url("fonts/Rubiklightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("fonts/Rubik.woff2") format("woff2"), url("fonts/Rubik.woff") format("woff"), url("fonts/Rubik.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Italic"), local("Rubik-Italic"), url("fonts/Rubikitalic.woff2") format("woff2"), url("fonts/Rubikitalic.woff") format("woff"), url("fonts/Rubikitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("fonts/Rubikmedium.woff2") format("woff2"), url("fonts/Rubikmedium.woff") format("woff"), url("fonts/Rubikmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("fonts/Rubikmediumitalic.woff2") format("woff2"), url("fonts/Rubikmediumitalic.woff") format("woff"), url("fonts/Rubikmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("fonts/Rubikbold.woff2") format("woff2"), url("fonts/Rubikbold.woff") format("woff"), url("fonts/Rubikbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("fonts/Rubikbolditalic.woff2") format("woff2"), url("fonts/Rubikbolditalic.woff") format("woff"), url("fonts/Rubikbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Black"), local("Rubik-Black"), url("fonts/Rubikblack.woff2") format("woff2"), url("fonts/Rubikblack.woff") format("woff"), url("fonts/Rubikblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("fonts/Rubikblackitalic.woff2") format("woff2"), url("fonts/Rubikblackitalic.woff") format("woff"), url("fonts/Rubikblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"), url("fonts/Poppinslight.woff2") format("woff2"), url("fonts/Poppinslight.woff") format("woff"), url("fonts/Poppinslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"), url("fonts/Poppinsregular.woff2") format("woff2"), url("fonts/Poppinsregular.woff") format("woff"), url("fonts/Poppinsregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-BoldSemiBold"), local("Poppins-SemiBold"), url("fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"), url("fonts/Poppinspoppins-boldsemibold.woff") format("woff"), url("fonts/Poppinspoppins-boldsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin"), local("Poppins-Thin"), url("fonts/Poppinsthin.woff2") format("woff2"), url("fonts/Poppinsthin.woff") format("woff"), url("fonts/Poppinsthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"), url("fonts/Poppinsitalic.woff2") format("woff2"), url("fonts/Poppinsitalic.woff") format("woff"), url("fonts/Poppinsitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("fonts/Poppinsmediumitalic.woff2") format("woff2"), url("fonts/Poppinsmediumitalic.woff") format("woff"), url("fonts/Poppinsmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("fonts/Poppinsextralightitalic.woff2") format("woff2"), url("fonts/Poppinsextralightitalic.woff") format("woff"), url("fonts/Poppinsextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("fonts/Poppinsextrabolditalic.woff2") format("woff2"), url("fonts/Poppinsextrabolditalic.woff") format("woff"), url("fonts/Poppinsextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("fonts/Poppinsextrabold.woff2") format("woff2"), url("fonts/Poppinsextrabold.woff") format("woff"), url("fonts/Poppinsextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("fonts/Poppinslightitalic.woff2") format("woff2"), url("fonts/Poppinslightitalic.woff") format("woff"), url("fonts/Poppinslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"), url("fonts/Poppinsblack.woff2") format("woff2"), url("fonts/Poppinsblack.woff") format("woff"), url("fonts/Poppinsblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("fonts/Poppinsthinitalic.woff2") format("woff2"), url("fonts/Poppinsthinitalic.woff") format("woff"), url("fonts/Poppinsthinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-SemiBoldMedium"), local("Poppins-Medium"), url("fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"), url("fonts/Poppinspoppins-semiboldmedium.woff") format("woff"), url("fonts/Poppinspoppins-semiboldmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("fonts/Poppinsextralight.woff2") format("woff2"), url("fonts/Poppinsextralight.woff") format("woff"), url("fonts/Poppinsextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("fonts/Poppinsbolditalic.woff2") format("woff2"), url("fonts/Poppinsbolditalic.woff") format("woff"), url("fonts/Poppinsbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("fonts/Poppinssemibolditalic.woff2") format("woff2"), url("fonts/Poppinssemibolditalic.woff") format("woff"), url("fonts/Poppinssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"), url("fonts/Poppinsbold.woff2") format("woff2"), url("fonts/Poppinsbold.woff") format("woff"), url("fonts/Poppinsbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("fonts/Poppinsblackitalic.woff2") format("woff2"), url("fonts/Poppinsblackitalic.woff") format("woff"), url("fonts/Poppinsblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@keyframes fadein {
  0% {
    padding-top: 50px;
    transform: scaleX(0.5);
  }
  100% {
    padding-top: 0;
    transform: scaleX(1);
  }
}
@keyframes oua_cart {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
html {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  line-height: 18px;
}

p {
  font: 1.5rem Rubik;
  font-weight: 400;
  line-height: 130%;
}

a {
  color: #969DBE;
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}

button {
  outline: none;
}

h1.title1 {
  font: 5.8rem Poppins;
  font-weight: 600;
  line-height: 6.6rem;
  color: #1D274E;
}

h2.title2 {
  font: 5rem Poppins;
  font-weight: 600;
  line-height: 6.6rem;
}

h5.title5 {
  font: 2.2rem Poppins;
  font-weight: 600;
  line-height: 100%;
}

.a-title {
  font: 1.5em Poppins;
  font-weight: 600;
  line-height: 21px;
  color: #1D274E;
}

.read {
  color: #015DC7;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.a-title:hover {
  color: #015DC7;
}

.slick-slide {
  outline: none;
}

.red {
  background-color: #8f3b08;
}

.blue {
  background-color: #268f84;
}

.bg-text {
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: Rubik;
  line-height: normal;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

.container-fluid {
  padding: 0;
}

.btn {
  padding: 25px 50px;
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
  color: #fff;
  font: 1.2rem Rubik;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.top-nav li.toggle {
  font-size: 25px;
  display: none;
}
.top-nav li.header_search {
  margin-left: 300px;
}
.top-nav li.header_search .fa-search {
  font-size: 1.6rem;
}
.top-nav li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.top-nav li a {
  font-weight: 500;
  text-transform: uppercase;
}
.top-nav i {
  margin-left: 5px;
}
.top-nav_dropdown {
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}
.top-nav_dropdown li {
  margin-left: 0;
  display: block;
}
.top-nav_dropdown a {
  padding-top: 15px;
  display: block;
  text-align: left;
}
li.top-nav_active:hover .top-nav_dropdown {
  opacity: 1;
}

.header {
  height: 1127px;
  background: url("../img/bg-header.png") no-repeat right 0;
}
.header_nav {
  padding: 35px 100px 0;
}
.header nav {
  text-align: center;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.construction {
  margin-top: 130px;
}
.construction p {
  color: #747DA1;
  line-height: 28px;
}
.construction span {
  display: block;
  margin: 15px 0;
  font-family: Poppins;
  font-size: 2.6rem;
  font-weight: 600;
  color: #1D274E;
  line-height: 100%;
}
.construction_btn {
  display: block;
  width: 300px;
  margin-top: 40px;
}
.construction_img-calc {
  margin-left: 50px;
  margin-top: -7px;
}

.bg {
  background-color: #F3F3FF;
}

.why-our {
  padding: 120px 0 100px 0;
}
.why-our h2 {
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
}
.why-our .row {
  margin-top: 100px;
}
.why-our .animation_cart {
  animation: oua_cart 0.5s linear;
}
.why-our_cart {
  width: 360px;
  height: 415px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: 25px auto 0;
  color: #747DA1;
}
.why-our_cart h5 {
  padding: 30px 0;
  color: #1D274E;
}
.why-our_cart p {
  margin: 0 auto;
  width: 300px;
  font-size: 1.2rem;
  line-height: 157%;
}
.why-our_icon {
  position: relative;
  width: 80px;
  margin: 0 auto;
  height: 150px;
}
.why-our_icon img {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
}
.why-our_cart:hover {
  background: linear-gradient(90deg, #005DC7 0%, #FF00FF 157.5%);
  color: #fff;
  cursor: pointer;
}
.why-our_cart:hover .img-block {
  display: none;
}
.why-our_cart:hover .img-hover {
  display: block;
}
.why-our_cart:hover h5 {
  color: #ffffff;
}

.img-hover {
  display: none;
}

.img-hover {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.banner-about {
  background: url("../img/bg-photo.jpg") no-repeat center;
  height: 621px;
}
.banner-about_text {
  margin-top: 80px;
  background: #015DC7;
  opacity: 0.9;
  padding: 90px 60px;
  color: #ffffff;
}
.banner-about_text span {
  font: 1.33em Poppins;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.banner-about_text p {
  font: 2.5em Poppins;
  font-weight: 600;
  line-height: 50px;
  color: #ffffff;
}

.our-calc {
  text-align: center;
  padding: 80px 0;
}
.our-calc_nav {
  margin-top: 80px;
  border: 1px solid #F7F7F7;
  box-sizing: border-box;
  border-radius: 70px;
  text-align: center;
}
.our-calc_nav div {
  display: inline-block;
  font: 1.2em Rubik;
  font-weight: 700;
  color: #AAB2D2;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: #ffffff;
  margin-left: 50px;
  padding: 20px 0;
  transition: all 1s ease;
}
.our-calc_nav .active {
  padding: 20px 50px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
}
.our-calc_nav :hover {
  padding: 20px 50px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
}
.our-calc_post {
  margin-top: 40px;
}
.our-calc_post .active {
  display: flex;
  transition: all 400ms ease;
}
.our-calc_post-wrap {
  display: none;
  width: 0;
  position: relative;
  animation: fadein 400ms linear;
  transition: all 400ms ease;
}
.our-calc_post-inner {
  background: url("../img/bg-post.png") no-repeat;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
}
.our-calc_post-inner-bg {
  background: #fff;
  display: inline-block;
}
.our-calc_post-inner-bg span {
  display: inline-block;
  font: 1em Rubik;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 15px;
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
.our-calc_post-inner p {
  font: 2em Poppins;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  margin-top: 20px;
}
.our-calc_post-inner-btn {
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  text-align: center;
  margin-top: 50px;
}
.our-calc_post-inner-btn a {
  background: url("../img/file.png") no-repeat center;
  height: 50px;
  width: 50px;
  display: block;
  line-height: 50px;
}

.our-blog {
  padding: 120px 0 100px 0;
}
.our-blog .wrap {
  position: relative;
}
.our-blog_nav {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -130px;
}
.our-blog_nav button {
  background: #E9E9FB;
  border: 0;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  color: #747DA1;
}
.our-blog_nav button i {
  font-size: 20px;
}
.our-blog_nav button:hover {
  background: linear-gradient(90deg, #005DC7 10.56%, #FF00FF 191.38%);
  cursor: pointer;
  color: #ffffff;
}
.our-blog_news {
  margin-top: 80px;
}
.our-blog_slade-text {
  margin: 0 10px;
}
.our-blog_slade-text img {
  width: 100%;
  border-radius: 10px;
}
.our-blog_slade-text div {
  padding: 30px 0 20px;
}
.our-blog_slade-text div span {
  position: relative;
  margin-left: 25px;
}
.our-blog_slade-text div span:before {
  position: absolute;
  content: url("../img/calendar.svg");
  top: -50%;
  left: 0;
  margin-left: -25px;
  margin-top: 4px;
}
.our-blog_slade-text p {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 157%;
  color: #969DBE;
}
.our-blog_slade-text a.read {
  display: inline-block;
  margin-top: 40px;
}
.our-blog_slade-text a.read:after {
  content: url("../img/long-arrow-right.svg");
  margin-left: 10px;
}

footer {
  background: url("../img/bg-footer.png") no-repeat center;
  height: 335px;
}
footer .wrap {
  width: 1170px;
}
footer p {
  margin-top: 30px;
  color: #747DA1;
}
footer .menu-footer {
  max-width: 670px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
footer .menu-footer li {
  font-size: 1.6em;
  line-height: 50px;
}

/*# sourceMappingURL=style.css.map */
